@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  background-color: #121212;
  font-family: "Josefin Sans", cursive;
  display: flex;
  flex-direction: column;
  color: white;
}

h1 {
  text-align: center;
}

.header h3 {
  text-align: center;
}

.filter {
  text-align: center;
  align-self: center;
}

.filter select {
  width: 10rem;
  text-align: center;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form input {
  border-radius: 0.5rem;
}

/* .in-progress-section{
    grid-column: 1/2;
    grid-row: 1/3 ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
    align-items: center;

} */

.in-progress-section {
  grid-column: 1/2;
  grid-row: 1/3;
  gap: 1rem;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 0.2rem solid DodgerBlue;
  text-align: center;
}
table td {
  padding: 0.5rem;
  border: 0.2rem solid DodgerBlue;
}
table th {
  padding: 0.5rem;
  border: 0.2rem solid Tomato;
}

.list-table input {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
}

.list-table input:focus {
  background: rgba(0, 0, 0, 25);
  border: none;
  outline: none;
  color: white;
}

.done-section {
  grid-column: 2/3;
  grid-row: 1/3;
  gap: 1rem;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

.done-section h2 {
  grid-column: span 3;
}

.to-do-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.to-do-sections li {
  margin-bottom: 10px;
}

.to-do-sections select {
  margin-bottom: 10px;
}

.submission {
  text-align: center;
  align-self: center;
}
